*{margin: 0; padding: 0;}
header{min-width: 300px; height: 80px; background-color: rgb(32, 160, 47);
font-size: 30px; color: white; position: relative;}
header p{position: absolute; top: 50%; left: 50%;
transform: translateX(-50%) translateY(-50%);}
#dm_ul{position: relative;  margin: auto; background-color: none; text-align: right; }
  .dropmenu ul ul{position: absolute; display: none;  }
  .dropmenu ul ul li{display: block; background-color: white; color: white;}
.dropmenu ul li{display: inline-block; margin-left: -5.5px;}
.dropmenu ul li a{display: block; width: 100px; color: black; line-height: 43px;
  text-decoration: none; text-align: center;}
#test{display: block; width: 100px; color: black; line-height: 43px;
    text-decoration: none; text-align: right;}
    .bi-bi-three-dots:hover {
      background-color: rgb(0, 166, 255);
}


